<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Date and User</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.title, link %></td>
        <td>Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></td>
        <td>
          <table>
            <tbody>
              <td><%= link_to "Visit", link.url, target: "_blank" %></td>
              <td><%= link_to "Likes #{link.get_upvotes.size}",like_link_path(link), method: :put %></td>
              <td><%= link_to "Dislikes #{link.get_downvotes.size}",dislike_link_path(link), method: :put %></td>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
