<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Date and User</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.title, link.url, target: "_blank" %></td>
        <td>Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></td>
        <td>
          <table>
            <tbody>
              <td><%= link_to 'Show', link %></td>
              <% if link.user == current_user %>
                <td><%= link_to 'Edit', edit_link_path(link) %></td>
                <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
